body {
  background-image: url('./images/nyan_cat_background.jpg');
  background-size: contain;
  background-attachment: fixed;
  background-repeat: repeat;
}

button {
  background-color: rgb(116, 201, 212);
  font-size: medium;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-shadow: 0.5px 0.5px 1px black;
}

input:focus {
  outline: solid thin;
}

.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #2e3c58da;
  color: white;
  display: flex;
  font-size: calc(15px + 2vmin);
  font-weight: 900;
  justify-content: center;
  letter-spacing: 0.5rem;
  text-shadow: 0.5px 0.5px 2px black;
}

.cronometer-box {
  font-size: x-large;
  margin-top: 5vh;
}

.cronometer {
  display: flex;
  font-size: xx-large;
  align-items: center;
  justify-content: center;
}

.time-unit {
  background-color: whitesmoke;
  border: solid thin darkgrey;
  border-radius: 5%;
  box-shadow: 0.5px 0.7px 3px black;
  color: red;
  font-family: 'Courier New', Courier, monospace;
  font-size: xxx-large;
  margin: 5px;
  padding: 3px 5px;
  text-align: center;
  text-shadow: 0.5px 0.5px 1px black;
  width: 60px;
}

.nyan-cat {
  animation: nyan 2s infinite linear;
  background-image: url('./images/nyan-cat.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  bottom: 1px;
  height: 75px;
  margin-left: -93%;
  position: absolute;
  transition: linear;
  width: 100vw;
}

.time-end {
  align-items: center;
  background-image: url('https://thumbs.gfycat.com/AgreeableAnguishedAphid-max-1mb.gif');
  background-size: cover;
  border-radius: 5%;
  color: hotpink;
  display: flex;
  font-weight: 500;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  margin-left: 40%;
  padding: 10px;
  position: absolute;
  text-shadow: 0.5px 0.5px 2px white;
  top: 30%;
  width: 20%;
  z-index: 5;
}

.time-end-btn {
  box-shadow: 0.3px 0.3px 3px black;
  box-shadow: 0.3px 0.3px 3px darkgrey;
  border-radius: 5%;
  font-size: medium;
  font-weight: 600;
  opacity: 0.80;
}

.time-end:hover .time-end-btn {
  opacity: 0.95;
}

.start-btn {
  background-color: rgb(177, 212, 116);
  box-shadow: 0.5px 0.5px 3px black;
  border-radius: 10%;
  font-size: large;
  font-weight: 600;
  opacity: 0.9;
  padding: 5px 10px;
}

.pause-btn {
  background-color: rgb(218, 124, 101);
  box-shadow: 0.5px 0.5px 3px black;
  border-radius: 10%;
  font-size: medium;
  font-weight: 600;
  opacity: 0.9;
}

.reset-btn {
  background-color: rgb(218, 210, 101);
  box-shadow: 0.5px 0.5px 3px black;
  border-radius: 10%;
  font-size: medium;
  font-weight: 600;
  opacity: 0.9;
}

.defaul-btn {
  margin: 15px 25px;
}

.defaul-btn:hover {
  opacity: 1;
  box-shadow: 0.3px 0.3px 2px black;
  box-shadow: 0.3px 0.3px 2px white;
}

.text-content {
  font-weight: 900;
  text-shadow: 0.5px 0.3px 2px rgb(178, 243, 213);
}

.text-content:hover {
  color: rgb(15, 15, 15);
  cursor: pointer;
  text-shadow: 0.5px 0.3px 3px white;
}

.text-content::selection {
  background-color: transparent;
}

.info-content {
  animation: textInfo 10s infinite;
  border: dashed thin transparent;
  color: whitesmoke;
  cursor: copy;
  font-size: calc(10px + 1.5vmin);
  font-weight: 600;
  letter-spacing: 0.05em;
  margin: 5px auto;
  opacity: 0.3;
  text-shadow: 0.5px 0.3px 3px black;
  width: fit-content;
}

.info-content:hover {
  animation: none;
  opacity: 1;
}

.entry-time {
  font-weight: 600;
  margin: 10px;
  min-height: 1.3em;
  padding: 5px;
}

#input-time {
  font-size: medium;
  max-width: 150px;
}

#view-hour-check {
  opacity: 0;
}

.view-hour {
  color: green;
  font-size: 1.7rem;
  text-shadow: 0.5px 0.3px 1.5px rgb(178, 243, 213);
}

.hide-hour {
  color: darkred;
  font-size: 1.7rem;
}

@keyframes textInfo {
  50% { border: dashed thin rgba(128, 128, 128, 0.7) };
}

@keyframes nyan {
  50% { transform: translateY(-25px) };
}

@media screen and (max-width: 1000px) {
  .nyan-cat {
    margin-left: -90%;
  }

  .time-end {
    margin-left: 35%;
    width: 30%;
  }
}

@media screen and (max-width: 650px) {
  .nyan-cat {
    margin-left: -85%;
  }

  .time-end {
    margin-left: 30%;
    width: 40%;
  }
}

@media screen and (max-width: 460px) {
  .nyan-cat {
    margin-left: -77%;
  }

  .time-end {
    margin-left: 20%;
    width: 60%;
  }
}

@media screen and (min-width: 1600px) {
  .nyan-cat {
    height: 120px;
  }
}
